/* La propriété box-sizing va me  permettre d'inclure le padding et la bordure dans la largeur et la hauteur totale d'un élément. */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.header {
    overflow: hidden;
    padding: 25px 60px;
    height: 150px;
}
/* */
.hd-devise {
    font-family: 'Times New Roman', Times, serif;
    color: #595959;
    font-weight: bold;
    font-size: 29px;
    display: block;
}

.hd-school-name {
    font-family: 'Times New Roman', Times, serif;
    color: #00aaaf;
    font-weight: bold;
    display: block;
}

.left-content {
    position: relative;
    width: 23%;
    border: 1px dotted #fff;
    left: 30px;
}

.left-content .logo-text {
    position: absolute;
    right: 0;
    bottom: 10px;
    margin-bottom: 6px;
}

.right-content {
    position: relative;
    width: 33%;
    border: 1px dashed #fff;
    left: 850px;
    bottom: 95px;
    margin-top: 25px;
    font-size: 14px;
}

.right-content .website-language {
    position: absolute;
    right: 0;
    bottom: 28px;
    margin-right: 50px;
}

.right-content .login {
    text-align: center;
}

.right-content .tel, .right-content .email {
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
}

.right-content a {
    text-decoration: none;
    color: #000;
}

.topnav-container {
    background-color: #ebebeb;
}

/* Style du menu de navigation supérieure */
.topnav {
    background-color: inherit;
    overflow: hidden; /* pour éviter le débordement des liens du topnav */
    /* width: 100%; */
    margin-left: 80px;
}


/*Style des liens de navigation */
.topnav a {
    float: left;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #595959;
    font-weight: bold;
    padding: 28px 18px;
}

/* The subnavigation Menu (Element conteneur <div>) */
.subnav {
    float: left;
    overflow: hidden;
}

/* The subnavigation button*/
.subnav .subnavbtn {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: #595959;
    font-family: inherit;
    padding: 28px 18px;
    margin: 0;
    background-color: inherit;
}

/* style des liens du topnav et du bouton du subnav au survol */
.topnav a:hover, .subnav:hover .subnavbtn {
    background-color: #0b878b;
    color: #fff;
}

/* Style subnav content (Caché par défaut et positionné en absolu) */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    background-color: #0b878b;
}

/* Style des liens du subnav content */
.subnav-content a {
    float: left;
    color: #fff;
    height: inherit;
    padding: 15px 16px;
}

/* Style des liens du subnav content au survol */
.subnav-content a:hover {
    background-color: #ff4500;
}

/*Ouvrir le contenu du sous menu au survol du conteneur (div) subnav */
.subnav:hover .subnav-content {
    display: block;
}

.current-position {
    background-color: #007b80;
    color: #fff;
    padding: 10px 80px;
}

.current-position pre { 
    font-family: inherit;
    font-size: 12px;
 }

.current-position h2 { 
    font-family: 'Times New Roman', Times, serif; 
    font-weight: normal;
}

.footer {
    background-color: #007b80;
    color: #fff;
    padding: 10px 80px;
}

.footer hr {
    border: 1px solid #00aaaf;
    margin-top: -40px;
}

.footer a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.footer a:hover {
    color: #000;
}

.footer .logo {
    display: block;
    margin: 0 auto;
}

.fter-devise {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.fter-school-name {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}

/* Style des conteneurs <div> du footer */
div.fter-container {
    float: left;
    height: 200px;
    margin-top: 10px;
}

.with-margin span {
    display: block;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.fter-container h5{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

/* Style des icônes du footer */
.fter-container i {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #00aaaf;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 50px;
} 

/* conteneurs du footer de même largeur*/
.same-width {
    width: 17%;
}

/*le dernier conteneur du footer*/
.last {
    width: 30%;
    position: absolute;
    right: 0;
}

/* gestion du champ input de la newsletter */
#newsletter {
    width: 73%;
    padding: 4px;
    background-color: #00aaaf;
    border: none;
    outline: none;
    color: #fff;
}

input[type="submit"] {
    padding: 4px;
    background-color: #1ce7ee;
    color: #fff;
    border: none;
    outline: none;
}

/* Pour nettoyer les effets du float sur les elements suivants ceux qui flottent */
.clearfix {
    /* nettoyage du float */
    content: "";
    clear: both;
    display: table;
}

.footer-content {
    /* pour positionner correctement le conteneur <div> (last) */
    position: relative;
    width: 100%;
}

.plan-site {
    position: relative; /* pour bien positionner le paragraphe copyright */
    border: 1px dotted #007b80;
    height: 40px;
}

.plan-site .copy-right {
    position: absolute;
    right: 0;
    bottom: 4px;
    font-size: 15px;
}

.plan-site pre {
    font-family: inherit;
    margin-top: 2px;
}

.footer .no-margin {
    margin: 0 0 0 -24px;
}

.footer .with-margin {
    margin-left: 4px;
}

/* Style of the section before the footer */
.before-footer {
    background-color: #ebebeb;
    width: 100%;
    padding: 0 80px;
    position: relative;  /*pour positionner correctement le conteneur <div> follow-container */
    z-index: -1;
    height: 200px;
}

div.bf-ftr-container {
    /* border: 1px dotted #000; */
    height: 100%;
    float: left;
}

.before-footer .fst-left-container {
    width: 12%;
}

.before-footer .snd-left-container {
    width: 18%;
    margin-left: 40px;
}

.before-footer .trd-left-container {
    width: 24%;
    margin-left: 40px;
}

.before-footer .follow-container {
    width: 30%;
}

.before-footer a {
    color: #007b80;
    text-decoration: none;
    font-size: 15px;
}

.fst-left-container a, .snd-left-container a, .trd-left-container a {
    display: block;
    margin-top: 5px;
}

.follow-container {
    position: absolute;
    z-index: 1;
    right: 0;
    margin-right: 82px;
}

.follow-container div {
    float: left;
    /* margin: 5px 10px; */
}

.follow-container .socials-networks {
    width: 50%;
    height: inherit;
    padding-top: 30px;
}

.socials-networks h3, .socials-networks p {
    color: #595959;
}

.socials-networks h3 {
    margin-left: 70px;
}

.socials-networks p {
    font-size: 16px;
    margin-left: 60px;
}

.socials-networks .horizontal-line {
    border: 1px solid #00aaaf;
    width: 20%;
    position: relative;
    left: 120px;
    top: -9px;
}

div.follow-us {
    margin-top: 18px;
    width: 100%;
}

.follow-us i {
    display: inline-block;
    width: 20%;
    line-height: 0;
    font-size: 30px;
    margin-left: 1px;
    color:#007b80;
}

.follow-us .fa-google-plus {
    color: rgba(255, 0, 0, 0.7);
}


.follow-container .store {
    width: 50%;
    height: inherit;
    background-color: #00aaaf;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.store a {
    color: #fff;
    margin-left: 80px;
}

.store hr {
    width: 20%;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.store i {
    display: block;
    width: 50px;
    line-height: 0;
    text-align: center;
    position: relative;
    top: 9px;
    font-size: 20px;
    margin-left: 30px;
}

.store p {
    text-align: left;
    margin-top: 20px;
}

.side {
    width: 15%;
    margin-top: 35px;
}

.side .li01 {
    color: #8d8d8d;
    font-weight: bold;
}

.side .li01::marker {
    color: #8d8d8d;
    font-size: 18px
}

.side .li02 {
    color: #007b80;
    font-weight: bold;
}

.side .li02::marker {
    color: #007b80;
    font-size: 18px
}

.main {
    width: 70%;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 150px;
}

.main h3 {
    font-weight: normal;
}

.column {
    float: left;
}

.vertical-line {
    border-right: 1px solid #a4a4a4;
    height: 1250px;
    margin-left: 6px;
    width: 4%;
    margin-top: 20px;
}

.group1, .group2, .group3 {
    margin: 18px 25px;
    overflow: auto;  /* Pour éviter le débordement des images flottantes */
    width: 890px;
}

.group2, .group3 {
    border-top: 1px solid #dedede;
    padding-top: 20px;
}

.group1 .first-child, .group2 .first-child, .group3 .first-child {
    margin: 0;
}

.group1 .other-children, .group2 .other-children, .group3 .other-children {
    margin-left: 66px;
}

div.gallery1, div.gallery2, div.gallery3 {
    float: left;
    /* border: 1px dotted #fff; */
    width: 252px;
    
}

div.gallery1 img , div.gallery2 img, div.gallery3 img {
    width: 100%;
    height: auto;
}

/* div.gallery1:hover , div.gallery2:hover, div.gallery3:hover {
    border: 1px solid #000;
} */

div.description span {
    border: 1px solid red;
}

div.description {
    color: #000;
    text-align: center;
    padding: 25px;
    color: #fff;
    font-size: 22px;
}

/* Style des descriptions dans les blocs d'images */
.first-desc {
    background-color: #733f34;
}

/* Pour avoir une couleur d'arrière plan uniforme au niveau des blocs descritifs*/
div.bloc1 {background-color: #733f34;}

div.first-desc + div { /* Siblings adjacent selector */
    margin: 0;
    background-color: #fff;
    border: 1px solid #fff;
}

div.first-desc + div p { /* Siblings adjacent selector first '+' then descendant selector ' ' */
    width: 40%;
    background-color: #733f34;
    color: #fff;
    padding: 5px 3px;
    text-align: center;
}

.first-arrow-up {
    display: block;
    width: 50px;
    line-height: 0;
    font-size: 30px;
    position: relative;
    top: -24px;
    text-align: center;
    color: #733f34;
}

.second-desc {
    background-color: #4e5baa;
}

div.bloc2 {background-color: #4e5baa;}

div.second-desc + div { 
    margin: 0;
    background-color: #fff;
    border: 1px solid #fff;
}

div.second-desc + div p { 
    width: 40%;
    background-color: #4e5baa;
    color: #fff;
    padding: 5px 3px;
    text-align: center;
}

.second-arrow-up {
    display: block;
    width: 50px;
    line-height: 0;
    font-size: 30px;
    position: relative;
    top: -24px;
    text-align: center;
    color: #4e5baa;
}


.third-desc {
    background-color: #696969;
}

div.bloc3 {background-color: #696969;}

div.third-desc + div { 
    margin: 0;
    background-color: #fff;
    border: 1px solid #fff;
}

div.third-desc + div p { 
    width: 40%;
    background-color: #696969;
    color: #fff;
    padding: 5px 3px;
    text-align: center;
}

.third-arrow-up {
    display: block;
    width: 50px;
    line-height: 0;
    font-size: 30px;
    position: relative;
    top: -24px;
    text-align: center;
    color: #696969;
}

.fourth-desc {
    background-color: #897c45;
}

div.bloc4 {background-color: #897c45;}

div.fourth-desc + div { 
    margin: 0;
    background-color: #fff;
    border: 1px solid #fff;
}

div.fourth-desc + div p { 
    width: 40%;
    background-color: #897c45;
    color: #fff;
    padding: 5px 3px;
    text-align: center;
}

.fourth-arrow-up {
    display: block;
    width: 50px;
    line-height: 0;
    font-size: 30px;
    position: relative;
    top: -24px;
    text-align: center;
    color: #897c45;
}

.fifth-desc {
    background-color: #632027;
}

div.bloc5 {background-color: #632027;}

div.fifth-desc + div { 
    margin: 0;
    background-color: #fff;
    border: 1px solid #fff;
}

div.fifth-desc + div p { 
    width: 40%;
    background-color: #632027;
    color: #fff;
    padding: 5px 3px;
    text-align: center;
}

.fifth-arrow-up {
    display: block;
    width: 50px;
    line-height: 0;
    font-size: 30px;
    position: relative;
    top: -24px;
    text-align: center;
    color: #632027;
}

.sixth-desc {
    background-color: #a4bd6c;
}

div.bloc6 {background-color: #a4bd6c;}

div.sixth-desc + div { 
    margin: 0;
    background-color: #fff;
    border: 1px solid #fff;
}

div.sixth-desc + div p { 
    width: 40%;
    background-color: #a4bd6c;
    color: #fff;
    padding: 5px 3px;
    text-align: center;
}

.sixth-arrow-up {
    display: block;
    width: 50px;
    line-height: 0;
    font-size: 30px;
    position: relative;
    top: -24px;
    text-align: center;
    color: #a4bd6c;
}

.seventh-desc {
    background-color: #8875ac;
}

div.bloc7 {background-color: #8875ac;}

div.seventh-desc + div { 
    margin: 0;
    background-color: #fff;
    border: 1px solid #fff;
}

div.seventh-desc + div p { 
    width: 40%;
    background-color: #8875ac;
    color: #fff;
    padding: 5px 3px;
    text-align: center;
}

.seventh-arrow-up {
    display: block;
    width: 50px;
    line-height: 0;
    font-size: 30px;
    position: relative;
    top: -24px;
    text-align: center;
    color: #8875ac;
}

.eighth-desc {
    background-color: #bea471;
}

div.bloc8 {background-color: #bea471;}

div.eighth-desc + div { 
    margin: 0;
    background-color: #fff;
    border: 1px solid #fff;
}

div.eighth-desc + div p { 
    width: 40%;
    background-color: #bea471;
    color: #fff;
    padding: 5px 3px;
    text-align: center;
}

.eighth-arrow-up {
    display: block;
    width: 50px;
    line-height: 0;
    font-size: 30px;
    position: relative;
    top: -24px;
    text-align: center;
    color: #bea471;
}
