* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    background-color: #f2f2f2;
}

body h1 {
    text-align: center;
}

/* Style du Conteneur du formulaire */
.container {
    width: 33.33%;
    margin: auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 4px #000;
}

.form-title {
    text-align: center;
    font-size: 20px;
    color: #007b80;
    font-weight: bold;
}

input[type="email"], input[type="password"]{
    width: 100%;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 12px 10px;
    margin: 8px 0;
    background-color: #f2f2f2;
    outline: none;
}

input[type="email"]:hover, input[type="password"]:hover{
    background-color: #c5c5c5;
}

input[type="email"]:focus, input[type="password"]:focus{
    background-color: #fff;
    border: 2px solid #007b80;
}

input[type="checkbox"]{
    display: inline-block;
    width: 16px;
    height: 16px;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}

input[type="submit"]{
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #007b80;
    color: #fff;
    padding: 15px 10px;
    font-weight: bold;
    margin: 30px 0;
    outline: none;
}

input[type="submit"]:hover{
    background-color: #00aaaf;
}

/* Style pour les autres options de connexion */
.other-options {
    display: block;
    text-align: center;
    margin-top: -18px;
    margin-bottom: 5px;
}

div.signin-with{
    border: none;
    padding: 12px 10px;
    margin: 8px 0;
    border-radius: 5px;
    background-color: #007b80;
    box-shadow: 0 0 1px #007b80;
    color: #fff;
}

div.signin-with:hover{
    background-color: #00aaaf;
}

.signin-with a {
    text-decoration: none;
    color: #fff;
    margin-left: 60px;
    font-weight: bold;
}

/* Style des icônes */
.fa-google, .fa-microsoft, .fa-apple {
    font-display: block;
    font-size: 24px;
    position: relative;
    top: 3px;
    left: 20px;
}

a.login {
    display: block;
    margin-top: 10px;
    text-align: center;
}
